/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
  
.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

:root {
  --card_width: 29%;
  --card_border_radius: 16px;
  --row_increment: 10px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
}


/* Reset default browser styles */
body, h1, p {
    margin: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

/* Set font and background color for body */
body {
    font-family: "Poppins" , sans-serif;
    background-color: FCFFFB  ;
}

/* Style heading */
h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Style paragraph */
p {
    font-size: 20px;
    color: #666;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

a {
  color:#DC0707;
}


/* Styling for nav bar */

.collapse.navbar-collapse {
  max-width: 100%;
  overflow: fit-content;
  margin-right: 2%;
} 

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space out the logo and the nav items */
  align-items: center; /* Center items vertically */
}

.navbar-nav {
  display: flex;
  flex: 1; /* Allow nav items to grow and take up space */
  justify-content: space-around; /* Distribute nav items evenly */
  align-items: center; /* Center nav items vertically */
}

.nav-item {
  flex: 1; /* Ensure each nav item takes up equal space */
  text-align: center; /* Center text inside each nav item */
}

.nav-item :hover {
  flex: 1; /* Ensure each nav item takes up equal space */
  text-align: center; /* Center text inside each nav item */
  border-bottom: 2px solid #DC0707; /* Visible underline on hover */
  color: #DC0707;
}

.navbar-brand {
  margin-right: auto; /* Align the logo to the left */
}

/* Styling for banner on the home page */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
}

.section-header {
  margin: 2%;
  display: flex;
  justify-content: left;
  color: #DC0707
}

.section-line {
  width: 10%;
  height: 3px !important;
  margin-right: 2vh;
  background-color: #DC0707;
  border: none;
  opacity: 1;
}

.intro-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 10px; /* Optional: add space between the two sections */
  font-family: "Poppins", sans-serif;
}


.intro-left {
  width: 48%; /* Make both sections take up equal space */
  padding: 1%;
  display: flex;
  flex-direction: column;  /* Stack buttons vertically */
  gap: 10px;  /* Add space between buttons */
  padding: 2%;
}

#name {
  align-items: center;  /* Center buttons horizontally */
  width: 33%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button img {
  margin-left: 10px; /* Adds some space between text and arrow*/
}

.intro-right {
  width: 48%;
  padding: 1%;
}

#about-me{
  width: 66%;
}

.intro-right img {
  display: block;
  margin-left: auto; /* Pushes the image to the right */
  margin-top: 4%;
  margin-bottom: 4%;
  margin-right: 4%;
  padding: 2%;
  max-width: 100%; /* Ensures the image doesn't overflow */
  height: auto;
}

/* Styling for highlighted projects */

.highlight-container{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

.project{
  width:30%;
  margin: 20px;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  height: 70vh;
}

.portfolio {
  height: 55vh;
}

.project img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.project-content {
  margin: 5%;
}

.project p {
  text-align: left;
  margin: 15px;
}

/* Project in project section */
.project-header {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}

.project-header img {
  border-radius: 10%;
  height: 13vh;
  width: 13vh;
  margin: 3vh;
}

.project-header h3 {
  justify-content: center;
  align-items: center;
  vertical-align: center;
}


.button {
  display:flex;
  align-items: center;
  padding: 2vh; /* Padding scales with the viewport */
}

.button img {
  height: 2vh; /* Arrow height scales with viewport height */
  width: auto;
  margin-left: 1vw;
}

.button a:hover{
  border-bottom: 2px solid #DC0707; /* Visible underline on hover */
  color: #DC0707;
}

.btn-text {
  color: #DC0707;
  text-decoration: none;
  font-size: 2.5vh; /* Font size scales with viewport height */
}

.info {
  justify-content: center;
}

/* Styling for contact section */

.contact-me {
  text-align: center;
}

.contact-me p {
  text-align: left;
}

.connect-buttons {
  display: flex;
  justify-content: center; /* Centers flex items (buttons) horizontally */
  margin-top: 20px; /* Optional: adds space above the buttons */
  gap: 20px; /* Space between the buttons */
}

.connect-buttons .btn img {
  width: 5vh; /* Adjust size as needed */
  height: auto;
}

.resume {
  display: none;
}

/* Styling for projects section  */

.scroll-projects {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2vh; /* Padding scales with the viewport */
}

.scroll-projects img {
  height: 2vh; /* Arrow height scales with viewport height */
  width: auto;
  margin-left: 1vw;
}

/* Styling for images in gallery */
.project_container {
  margin: 0;
  padding: 0;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}

.card {
  padding: 0px;
  margin: 15px 10px;
  border-radius: var(--card_border_radius);
  overflow:hidden;
}

.card img {
  overflow: hidden;
  display: block;
  max-width: 100%;
  height: 100%;  
  border-radius: var(--card_border_radius);
}

.img-description {
  padding: 2%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(18, 18, 18, 0.72);
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  /* text-align: center;
  margin: 0 auto; */
  text-align: center;
   /* display: flex; */
  justify-content: center;
  align-items: center;
}

.img-description p {
  color: #fff;
}

.card:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_small .img-description p {
  margin-top: 20%;
}

.card_medium {
  grid-row-end: span var(--card_medium);
}

.card_medium .img-description p {
  margin-top: 30%;
}

.card_large {
  grid-row-end: span var(--card_large);
}

.card_large .img-description p {
  margin-top: 40%;
}

/* Styling for playground page */

.playground_header {
  padding: 3%;
  font-family: "Poppins", sans-serif;
}

.slide{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.carousel_description {
  width: 40%; /* Make both sections take up equal space */
  padding: 2%;
}

.carousel_image {
  width: 55%; /* Make both sections take up equal space */
  padding: 2%;
}

.carousel_image img {
  height: 100%;
  width: 100%;
  border-radius: var(--card_border_radius);
}

/* Styling for Case Studies */

.study-header {
  padding: 2%;
  font-family: "Poppins", sans-serif;
}

.job-titles {
  display:flex;
  flex-wrap:wrap;
  padding: 2%;
}

.role {
  width: 25%;
}

.process-header {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.process-text {
  width: 49%; /* Make both sections take up equal space */
  padding: 2%;
}

.process-image {
  width: 49%; /* Make both sections take up equal space */
  padding: 2%;
}

.process-image img {
  height: 100%;
  width: 100%;
  border-radius: var(--card_border_radius);
}

button {
  color:#666;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
}

/* mobile 480, tablet 800, laptop 1020 */
@media (max-width: 800px) {
  :root {
    --card_width: 90%;
    --card_border_radius: 8px;
    --row_increment: 10px;
    --card_small: 35;
    --card_medium: 35;
    --card_large: 35;
  }
  #header{
    height: 50px;
    width: auto;
  }
  h1 {
    font-size: 21px;
  }

  p {
    font-size: 16px;
  }

  #name{
    width: 100%;
  }

  .intro-left{
    width: 90%;
  }

  #about-me{
    width: 90%;
  }

  .intro-right{
    width: 90%;
  }

  .intro-right img {
    height:auto;
    width: 10rem;
  }

  .buttons-container {
    display: none;
  }

  .resume{
    display: block;
  }

  .project {
    width: 90%;
  }

  .card {
    width: 100%;
  }

  .conntect-buttons img{
    width: 2rem;
    height: auto;
  }

  .carousel_description{
    width: 90%;
  }

  .carousel_image{
    width: 90%;
  }

  .playground_header{
    padding: 6%;
  }
}